body {
    background-image: linear-gradient(to bottom, black 20%, #84d4ce);
    background-repeat: no-repeat;
}

#container {
    max-width: 700px;
    height: 1400px;
    background-color: crimson;
    margin: 0 auto;
}